<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <button routerLink="/home" style="font-size: 35px; background-color: lightseagreen;"><i class="fa fa-home"></i></button>
</header>
<body>
<h1 id="title" style="text-align: center;">GUIDE SERVICES</h1>
<br>
<div id="guideservices">
    <a href="https://theflyfisher.com">The Flyfisher Guide Service</a>
    <p>Private water guide service on the front range. Waters guided include South Boulder Creek, 
    Bear Creek, and some private lakes and ponds.</p><br><br><br>
    <a href="https://coloradotroutfisher.com">Colorado Trout Fisher</a>
    <p>Front range guide service offering trips on many rivers and creeks around Denver and Boulder.</p>
    <br><br><br>
    <a href="https://rockymtanglers.com">Rocky Mountain Anglers</a>
    <p>Boulder fly shop and guide service offering trips on many front range waters including the Blue River. Some private water is also available.</p>
    <br><br><br>
    <a href="https://troutsflyfishing.com">Trouts Fly Fishing</a>
    <p>Fly shop and guide service with locations in Denver and Frisco. Wade and float trips are offered on many waters including the Blue, South Platte, Arkansas, and Eagle Rivers.</p>
    <br><br><br>
    <a href="https://fishcolorado.com">Cutthroat Anglers</a>
    <p>Fly shop and guide service based in Silverthorne. They offer wade and float trips on many waters in Summit and Grand County. Private water is also an option.</p>
    <br><br><br>
    <a href="https://steamboatflyfisher.com">Steamboat Flyfisher</a>
    <p>Fly shop and guide service in Steamboat Springs. Their home water is the Yampa River. They offer wade and float trips on the Yampa as well as some lakes and smaller rivers and creeks in the area.</p>
    <br><br><br>
  </div>
</body>
