<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <button routerLink="/home" style="font-size: 35px; background-color: lightseagreen;"><i class="fa fa-home"></i></button>
</header>
<body>
<h1 id="yampariver" style="text-align: center;">YAMPA RIVER</h1>
<div class="row">
    <span id="pic"></span>
</div>
<section class="container">
<div id="flow" class="row">
    <h3 id="streamflow">Most Recent Streamflow Data</h3>
    <p>Below Stagecoach Reservoir: 
        <input type="number" [value]="flows" style="width: 50px;" readonly> cfs
    </p>
</div>
<div id="map">
    <a href="https://cpw.state.co.us/learn/Maps/UpperYampaRiverDrainage_FishingRegulations_GeoPDF.pdf">YAMPA RIVER MAP</a>
</div>
</section>
<p id="riverbio">The Yampa River is located in northwest Colorado and flows 250 miles from the town of Yampa to Dinosaur National Monument where it meets
    the Green River. The headwaters are located near the Flat Tops Wildnerness Area and the river here is more of a small creek. It holds brook trout and cutthroat trout
    in the uppermost reaches above Stagecoach Reservoir. Below Stagecoach Reservoir is a tailwater section of the Yampa and the most heavily fished section of the river. The river
    is still very small here but holds some impressive rainbow trout. A few brook and brown trout can be found here as well. The road in to the Stagecoach tailwater in closed from January 1st
    to April 1st for migrating elk. Anglers will required to hike about a mile to get in.<br><br>
    The Yampa flows north through the town of Steamboat Springs and the fishing is excellent through town. In addition to the rainbow and brown trout, the Yampa River holds a small population of northern 
    pike that have comes from Stagecoach Reservoir. Further downstream as you follow the river west of Steamboat Springs, smallmouth bass can also be caught. The Yampa River is one of the best trout streams in 
    Colorado and a paradise for fly anglers.<br><br>
    <span id="rainbow"></span>
    </p>
  <br>
</body>

