<html>
<header>
    <p>C o l o r a d o&nbsp;&nbsp;&nbsp;&nbsp;F l y&nbsp;&nbsp;&nbsp;&nbsp;F i s h i n g</p>
</header>
<body> 
    <br>
    <section class="container">
        <div id="destinations">
            <h1>DESTINATIONS</h1>
            <ul>
                <a routerLink="/blueriver">Blue River &nbsp;&nbsp;|</a>&nbsp;
                <a routerLink="/coloradoriver">Colorado River &nbsp;&nbsp;|</a>&nbsp;
                <a routerLink="/gunnisonriver" >Gunnison River</a><br>
                <a routerLink="/southplatteriver">South Platte River &nbsp;&nbsp;|</a>&nbsp;
                <a routerLink="/arkansasriver">Arkansas River &nbsp;&nbsp;|</a>&nbsp;
                <a routerLink="/yampariver">Yampa River</a><br><br>
            </ul>
        </div>
            <div id="resources">
                <h1>RESOURCES</h1>
                <ul>
                    <a routerLink="/guideservices">Guide Services &nbsp;&nbsp;|</a>&nbsp;
                    <a href="https://cpw.state.co.us/Documents/RulesRegs/Brochure/fishing.pdf">Fishing Regulations</a><br>
                    <a routerLink="/videos">Videos &nbsp;&nbsp;|</a>&nbsp;
                    <a href="https://www.cpwshop.com/purchaseprivilege.page?displayCategoryID=251532604">Buy A Fishing License</a><br><br>
                </ul>
            </div>
    </section>
</body>
</html>