<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <button routerLink="/home" style="font-size: 35px; background-color: lightseagreen;"><i class="fa fa-home"></i></button>
</header>
<body>
<br>
<div id="videos">
    <p>Fly fishing the Black Canyon of the Gunnison</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/3JE2qIjr6Fk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
    <p>Fly fishing the Blue River below Green Mountain Reservoir</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/lAZ224LhNcA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
    <p>Fly fishing the South Platte in Cheesman Canyon</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/jwBx5vxtLFU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
    <p>Fly fishing for carp on the Denver South Platte</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/EsvbARZrWcQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
    <p>Spring on the Dream Stream section of the South Platte</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/mr1ZYSWFP1c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
    <p>Floating the Colorado River</p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/QAIzL91C3iM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
  </div>
</body>